.content__items--title {
    display: flex;
    width: 100%;
    height: 20%;
    font-size: 1.5em;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--footer-color);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--font-color);
}

.content__items--data {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding: 1em;
}

.content__item,
.content__item--button {
    display: flex;
    width: 100%;
    height: 33%;
}

.content__height{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.content__item--data {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.item--label, .item-data {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
}

.item--label {
    align-items: flex-end;
    font-size: 1.3em;
    font-weight: bold;
}

.item-data {
    font-size: 0.8em;
}

.content__item--button {
    justify-content: space-around;
    align-items: center;
}

.content__button {
    display: flex;
    width: 6em;
    height: 2.5em;
    font-size: 1.1em;
    font-weight: bolder;
    color: var(--header-color);
    background-color: var(--footer-color);
    border: 1px solid var(--footer-color);
    border-radius: 0.4em;
    justify-content: center;
    align-items: center;
}

.content__button:hover {
    background-color: var(--primary-color);
}

.content__button:active {
    background-color: var(--primary-color);
}

@media screen and (min-width: 1600px) {
    .item-data {
        font-size: 1em;
    }
}