.content__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    border-radius: 0.5em;
    background-color: var(--primary-color);
    align-items: center;
}

.content__menu h2 {
    display: flex;
    width: 90%;
    height: 15%;
    color: var(--header-color);
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--header-color);
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    padding: 1em;
    align-items: center;
}

.menu--image {
    display: flex;
    width: 15em;
    height: 15em;
    margin: 2em 0;
    border-radius: 100%;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu__ul {
    display: flex;
    width: 100%;
    font-size: 1.3em;
    font-weight: bolder;
    align-items: center;
    justify-content: space-around;
}

.menu__ul--link {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-decoration: none; */
    color: var(--header-color);
}


@media screen and (min-width: 768px) {
 
    .menu {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    .menu--image {
        width: 12em;
        height: 12em;
        margin: 0 3em;
    }

    .menu__ul {
        flex-direction: column;
        width: 30%;
        align-items: flex-start;
    }

    .menu__ul--link {
        margin-bottom: 1em;
    }
}
@media screen and (min-width:320px) {
      .content__menu {
        height: 40vh;

    }
    
}

@media screen and (min-width: 1080px) {
      .content__menu {
        height: 70vh;

    }
    .menu {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .menu--image {
        margin: 1em 0;
    }

    .menu--image {
        width: 10em;
        height: 10em;
        margin: 1em 0;
    }

    .menu__ul {
        width: 100%;
        align-items: center;
    }

    .menu__ul--link {
        margin: 0.5em;
    }
}

@media screen and (min-width: 1200px) {
    .menu {
        justify-content: center;
        align-items: center;
    }

    .menu--image {
        width: 13em;
        height: 13em;
        margin: 0;
    }

    .menu__ul--link {
        margin: 0.5em;
    }
}