.vaccine__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    padding: 0 0.5em;
}

.vaccine__data {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-around;
    align-items: center;
}

.vaccine__description--container {
    height: 60%;
    width: 100%;
}

.vaccine__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
}

.vaccine__item--description {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    text-align: justify;
}

.vaccine__item--label {
    font-size: 1.1em;
    font-weight: bolder
}

.vaccine__item--p {
    font-size: 0.9em;
}