:root {
    /* Colors */
    --header-color: #ffffff;
    --main-color: #d0fdd7;
    --footer-color: #2a8c4a;
    --primary-color: #64c27b;
    --secondary-color: #9bfab0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.body {
    display: block;
    height: 100vh;
    width: 100vw;
}