.existence__disease--container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    padding: 0 0.5em;
}

.disease__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.disease__item--name {
    height: 20%;
}

.disease__item-description {
    height: 80%;
    align-items: center;
    justify-content: flex-start;
    text-align: justify;
}

.disease__item--label {
    font-size: 1.1em;
    font-weight: bolder
}

.disease__item--p {
    font-size: 0.9em;
}